<!DOCTYPE html>
<style>
    form {
        margin: auto;
        width: 35%;
    }
    .result{
        margin: auto;
        width: 35%; 
        border: 1px solid #ccc;
    }
</style>

<head>
    <title>Прогнозирование Модуля упругости при растяжении</title>
</head>

<form actions = "{{url_for('main')}}" method="POST">
    <fieldset>
        <legend>Введите значения </legend>
            <label for="col1">Соотношение матрица-наполнитель</label>
            <input name="col1" type="float">
        <br>
            <label for="col2">Плотность, кг/м3</label> 
            <input name="col2" type="float">
        <br>
            <label for="col3">модуль упругости, ГПа</label> 
            <input name="col3" type="float">
        <br>
            <label for="col4">Количество отвердителя, м.%</label> 
            <input name="col4" type="float">
        <br>
            <label for="col5">Содержание эпоксидных групп,%_2</label> 
            <input name="col5" type="float">
        <br>
            <label for="col6">Температура вспышки, С_2</label> 
            <input name="col6" type="float">
        <br>
            <label for="col7">Поверхностная плотность, г/м2</label> 
            <input name="col7" type="float">
        <br>
            <label for="col8">Прочность при растяжении, МПа</label> 
            <input name="col8" type="float">
        <br>
            <label for="col9">Потребление смолы, г/м2</label> 
            <input name="col9" type="float">
        <br>
            <label for="col10">Угол нашивки, град</label> 
            <input name="col10" type="float">
        <br>
            <label for="col11">Шаг нашивки</label> 
            <input name="col11" type="float">
        <br>
            <label for="col12">Плотность нашивки</label> 
            <input name="col12" type="float">
        <br>
            <input type = "submit">
    </fieldset>
</form>

<div class = "result" align="center">
    {% if result %}
        <br>
        <p style="font-size:50px">
            Прогноз модуля упругости при растяжении
        </p>
        <p style="font-size:50px"> {{result}}</p>
    {% endif %}
</div>